PORT=
NODE_ENV=

MONGO_URI=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=

CORS_ORIGIN=

GPS_UPDATE_INTERVAL_SECONDS=
VEHICLE_OFFLINE_THRESHOLD_SECONDS=
GEOFENCE_RADIUS_METERS=